[Unit]
Description=Map Change Monitor
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/scripts/amp-map-update/map_change_monitor.js
Restart=on-failure
RestartSec=10
User=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/scripts/amp-map-update

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target